body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: radial-gradient(circle at top left, #3a1300, #000000 70%);
  color: white;
}

.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 380px;
  padding: 40px 30px;
  border-radius: 25px;
  background: linear-gradient(
    145deg,
    rgba(255, 122, 0, 0.08),
    rgba(0, 0, 0, 0.9)
  );
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.icon-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgba(255, 122, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  margin: 0 auto 20px;
  color: #ff7a00;
  box-shadow: 0 0 25px rgba(255, 122, 0, 0.3);
}

.logo-text {
  text-align: center;
  font-size: 30px;
  margin-bottom: 8px;
}

.subtitle {
  text-align: center;
  color: #9ca3af;
  margin-bottom: 30px;
}

label {
  font-size: 14px;
  color: #d1d5db;
}

.input-box {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  padding: 12px 14px;
  border-radius: 14px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.input-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
  margin-left: 10px;
}

.icon {
  color: #9ca3af;
}

.eye {
  cursor: pointer;
  color: #9ca3af;
}

.password-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-row span {
  color: #ff7a00;
  cursor: pointer;
  font-size: 14px;
}

.login-btn {
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: #ff7a00;
  color: white;
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 0 0 25px rgba(255, 122, 0, 0.6);
  transition: 0.3s ease;
}

.login-btn:hover {
  background: #ff8c1a;
}

.divider {
  text-align: center;
  margin: 30px 0;
  color: #6b7280;
  font-size: 12px;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 35%;
  background: #333;
  top: 50%;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.google-btn {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.05);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.google-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.footer {
  text-align: center;
  margin-top: 25px;
  color: #9ca3af;
}

.footer span {
  color: #ff7a00;
  cursor: pointer;
  font-weight: 600;
}